<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blog</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu&amp;display=swap">
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <div id="app">
    <div class="header">    
        <h1>Japan</h1>
        <p>Blog sobre Japão</p>
        <div class="background"></div>
    </div>

    <div class="main">
    <div class="nav">
        <div class="mobile" v-if="system === 1">
                <a :class="{ativo : menu}" @click="openMenu">
                        <i class="fas fa-bars"></i>
                </a>
        </div>
        <div class="pc" v-if="menu | system === 0">
        <a class="ativo">Home</a>
        <a>Usuarios</a>
        <a class="alinha-direita">Login</a>
        <a class="alinha-direita">Registro</a>
        </div>
    </div>

    <div class="leftcol">
        <div class="card">
            <h2>Está chegando a época do Sakura no Brasil!</h2>
            <h5>kaway404, publicado em 04 de março de 2020</h5>
            <div class="fakeimg" style="
            height: 200px; 
            background-image: url('https://momentocoaching.files.wordpress.com/2017/07/sakura-flor-de-cerejeira-momentocoaching-antuak.jpg?w=840');"></div>
            <p>
                Um excelente momento para praticar a apreciação da beleza e lembrar da importância de vivenciar a vida de forma plena, no Aqui e Agora.
            </p>
            <p>
                Sakura é no nome japonês para a flor da cerejeira. Apesar de não ser considerada oficialmente a flor nacional, título concedido ao crisântemo, o sakura é a flor mais celebrada no Japão.
            </p>
        </div>
        <div class="card">
            <h2>Lenda do Sakura</h2>
            <h5>Autor, publicado em 04 de março de 2020</h5>
            <div class="fakeimg" style="height: 200px;
            background-image: url(https://escapenewscorpau.files.wordpress.com/2019/05/japan_mt-fuji_istock-1130832253.jpg?w=930&h=400&crop=1);"></div>
            <p>
                Conta a lenda que uma princesa desceu dos céus e aterrissou em uma cerejeira, nas proximidades do Monte Fuji, e teria se transformado na flor da cerejeira. Acredita-se então que o nome sakura, na verdade, é derivado do nome da princesa Konohana Sauna Hímen, que significa “a princesa das árvores das flores abertas”.
            </p>
            <p>
                Há também outra lenda que indica que o nome da planta se deve ao cultivo de arroz e sua divindade (Sa). A segunda parte do nome, kura, faria referência à sua morada, ou local onde era guardado o arroz, que é uma das culturas mais importantes do Japão, sendo mesmo considerada uma dádiva divina.
            </p>
        </div>
    </div>

    <div class="rightcol">
        <div class="card">
            <h2>Quem sou eu?</h2>
            <div class="fakeimg" style="height: 100px;
            background-image: url(https://alcanceirati.com.br/wp-content/uploads/2018/07/quem-sou-eu.png);"></div>
            <p>Sou apenas um cara em busca da felicidade!</p>
        </div>
        <div class="card">
            <h3>
                Posts populares
            </h3>
            <div class="fakeimg">
                <p>Está chegando a época do Sakura no Brasil!</p>
            </div>
            <div class="fakeimg">
                <p>Lenda do Sakura</p>
            </div>
        </div>
        <div class="card social">
            <h3>Redes Sociais</h3>
            <p><a href="https://facebook.com/imblank" target="_blank">
                <i class="fab fa-facebook-f"></i> Facebook</a>
                <a href="https://instagram.com/imblank" target="_blank">
                    <i class="fab fa-instagram"></i> Instagram</a></p>
        </div>
    </div>

    <div class="footer">
        <h2>
            Japanese blog
        </h2>
    </div>
    </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
    <script src="./js/index.js"></script>
</body>
</html>